<h1>Books#available</h1>
<p>Find me in app/views/books/available.html.erb</p>

<div class="books_list">
    <%= render @books %>
</div>

<!-- Modal -->
<div class="modal fade" id="verMasModal" tabindex="-1" aria-labelledby="verMasModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verMasModalTitle">Titulo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
